<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>You have shared list id <%= @list.id %></h1>
<%= link_to 'signup', signup_url(list_id: @list.id) %>
</body>
</html>